<f:if condition="{files -> f:count()}">
	<div id="ecomproducttools-accordion" role="tablist" aria-multiselectable="true">
		<f:groupedFor each="{files}" as="fileCategoryFiles" groupBy="fileCategory" groupKey="fileCategory">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading{fileCategory.uid}">
					<a class="panel-title" data-toggle="collapse" data-parent="#ecomproducttools-accordion" href="#collapse{fileCategory.uid}" aria-expanded="true" aria-controls="collapse{fileCategory.uid}">
						{f:s3b0.getLocalizedCategoryTitle(category: fileCategory, language: language)}
					</a>
				</div>

				<div id="collapse{fileCategory.uid}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{fileCategory.uid}">
					<table class="table table-striped table-responsive">
						<thead>
							<tr>
								<td class="download-icon hidden-xs"></td>
								<td class="filename"><f:translate id="file.filename" extensionName="ecom_product_tools" /></td>
								<td class="revision hidden-xs">
									<f:if condition="{f:translate(id: 'file.revision', extensionName: 'ecom_product_tools')} == {f:translate(id: 'file.revision.abbr', extensionName: 'ecom_product_tools')}">
										<f:then><f:translate id="file.revision" extensionName="ecom_product_tools" /></f:then>
										<f:else><abbr title="{f:translate(id: 'file.revision', extensionName: 'ecom_product_tools')}"><f:translate id="file.revision.abbr" extensionName="ecom_product_tools" /></abbr></f:else>
									</f:if>
								</td>
								<td class="size"><f:translate id="file.size" extensionName="ecom_product_tools" /></td>
								<td class="last-modified hidden-xs"><f:translate id="file.last_modified" extensionName="ecom_product_tools" /></td>
								<td class="sha1 hidden-xs hidden-sm hidden-md"><abbr title="{f:translate(id: 'file.sha1', extensionName: 'ecom_product_tools')}"><f:translate id="file.sha1.abbr" extensionName="ecom_product_tools" /></abbr></td>
								<td class="language align-center"><f:translate id="file.language" extensionName="ecom_product_tools" /></td>
							</tr>
						</thead>

						<tbody>
							<f:for each="{fileCategoryFiles}" as="file" iteration="iterator">
								<tr>
									<td class="hidden-xs">
										<a href="{file.info.link}" target="_blank"><f:image src="{f:uri.resource(path: 'Images/download-button.png', extensionName: 'ecom_product_tools')}" /></a>
									</td>
									<td>
										<span class="ecomproducttools-file-title">{file.title}</span><br />
										<small class="file-info">
											<span class="text-uppercase">{file.info.type}</span> |&nbsp;
											<a href="{file.info.link}" class="text-primary" target="_blank">
												<f:if condition="{file.uri}">
													<f:then><i class="fa fa-external-link fa-fw align-mid"></i> <f:translate id="file.open" extensionName="ecom_product_tools" /></f:then>
													<f:else><i class="fa fa-download fa-fw align-mid"></i> <f:translate id="file.download" extensionName="ecom_product_tools" /></f:else>
												</f:if>
											</a>
										</small>
									</td>
									<td class="hidden-xs">{file.revision}</td>
									<td>{file.info.size}</td>
									<td class="hidden-xs">
										<f:if condition="{file.info.lastModified}">
											<f:then>{file.info.lastModified -> f:format.date()}</f:then>
											<f:else>-</f:else>
										</f:if>
									</td>
									<td class="hidden-xs hidden-sm hidden-md">{file.sha1}</td>
									<td class="align-center language-information">
										<f:if condition="{file.language}">
											<f:then>
												<f:image src="{file.language.flagSource}" alt="{file.language.flag}" width="20" />
												<br />{file.language.title}
											</f:then>
											<f:else>-</f:else>
										</f:if>
									</td>
								</tr>
							</f:for>
						</tbody>
					</table>
				</div>
			</div>
		</f:groupedFor>
	</div>
</f:if>
<f:if condition="{files -> f:count()} == 0">
	<p class="alert alert-info alert-dismissable"><i class="fa fa-info-circle fa-lg"></i> &nbsp; <f:translate id="dc.nofiles" extensionName="ecom_product_tools" /></p>
</f:if>