<f:layout name="Default" />

<f:section name="main">
	<div class="row">
		<f:if condition="{product.approvalsNotInList -> f:count()}">
			<f:for each="{product.approvalsNotInList}" as="approval"><div class="sr-only" id="ap{approval.uid}"></div></f:for>
		</f:if>
		<f:groupedFor each="{product.certifications}" as="certifications" groupBy="approvalAtList" groupKey="approval">
			<div class="col-xs-12 col-sm-6 col-md-6 approval" id="ap{approval.uid}">
				<div class="row">
					<div class="col-xs-3 col-sm-4 col-md-4 image">
						<f:if condition="{approval.iconSource}"><f:image src="{approval.iconSource}" alt="{approval.icon}" title="{approval.title}" /></f:if>
					</div>

					<div class="col-xs-9 col-sm-8 col-md-8 bodytext">
						<label>{approval.title}</label>

						<f:if condition="{product.attestations -> f:count()}">
							<f:groupedFor each="{product.attestations}" as="attestations" groupBy="approval" groupKey="aApproval">
								<f:if condition="{aApproval.uid} == {approval.uid}">
									<f:if condition="{attestations -> f:count()}">
										<p><f:translate id="label.attestations" /> <f:for each="{attestations}" as="attestation" iteration="a"><span class="nowrap">{attestation.title}</span><f:if condition="{a.isLast} == 0">, </f:if></f:for></p>
									</f:if>
								</f:if>
							</f:groupedFor>
						</f:if>

						<ul class="list">
							<f:for each="{certifications}" as="certification"><li><f:format.nl2br>{certification.title}</f:format.nl2br></li></f:for>
						</ul>

						<f:if condition="{files -> f:count()}">
							<f:groupedFor each="{files}" as="approvalDocuments" groupBy="approval" groupKey="fApproval">
								<f:if condition="{fApproval.uid} == {approval.uid}">
									<f:if condition="{approvalDocuments -> f:count}">
											<f:if condition="{approvalDocuments -> f:count()} > 1">
												<f:then>
													<div class="dropdown">
														<a class="btn btn-default morelink dropdown-toggle" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><f:translate id="label.dl_certification" /></a>
														<ul class="dropdown-menu" role="menu">
															<f:for each="{approvalDocuments}" as="document">
																<li role="menuitem" class="lang-{document.language.flag}">
																	<f:if condition="{document.fileReference}">
																		<f:then><a href="{document.fileReference.originalResource.publicUrl}" target="_blank">{document.title}</a></f:then>
																		<f:else><f:link.typolink parameter="{document.externalUrl}" target="_blank">{document.title}</f:link.typolink></f:else>
																	</f:if>
																</li>
															</f:for>
														</ul>
													</div>
												</f:then>
												<f:else>
													<f:for each="{approvalDocuments}" as="document">
														<f:if condition="{document.fileReference}">
															<f:then><a class="btn btn-default morelink" role="button" href="{document.fileReference.originalResource.publicUrl}" target="_blank"><f:translate id="label.dl_certification" /></a></f:then>
															<f:else><f:link.typolink parameter="{document.externalUrl}" target="_blank"><f:translate id="label.dl_certification" /></f:link.typolink></f:else>
														</f:if>
													</f:for>
												</f:else>
											</f:if>
									</f:if>
								</f:if>
							</f:groupedFor>
						</f:if>

					</div>
				</div>
			</div>
		</f:groupedFor>
	</div>
</f:section>