<f:layout name="MarkUp" />

<f:section name="main">
	<div class="tx-sz-downloadcenter setcard">
		<div id="approvalList" class="clearfix">
			<div class="zoneWrap">
				<div class="zone"><f:translate id="product.atex_zone.{product.atexZone}" /></div>
				<div class="division"><f:translate id="product.nec_division.{product.necDivision}" /></div>
			</div>
			<div class="approvalWrap clearfix">
				<div id="approvals">
					<f:groupedFor each="{product.certifications}" as="certification" groupBy="approval" groupKey="approval">
						<div class="item" rel="ap{approval.uid}">
							<span>{approval.title}</span>
							<f:image src="EXT:ecom_product_tools/Resources/Public/Images/Flags/{approval.setcardIcon}.png" alt="{approval.setcardIcon}" title="{approval.title}" />
						</div>
					</f:groupedFor>
				</div>
			</div>
		</div>
	</div>
</f:section>