<f:if condition="{contentObject.header}">
    <f:then>
        <f:if condition="{contentObject.header_layout} == 100">
            <div class="csc-header"><h2 class="csc-firstHeader"><f:translate id="views.detail.compatible_products" extensionName="app_library" /></h2></div>
        </f:if>
    </f:then>
    <f:else>
        <f:if condition="{contentObject.header_layout} != 100">
            <div class="csc-header"><h2 class="csc-firstHeader"><f:translate id="views.detail.compatible_products" extensionName="app_library" /></h2></div>
        </f:if>
    </f:else>
</f:if>

<div class="tx-ecom-product-tools {addLayoutClasses}">
	<f:render section="main" />
</div>