<f:if condition="{files -> f:count()}">
	<div id="ecomproducttools-accordion" role="tablist" aria-multiselectable="true">
		<f:groupedFor each="{files}" as="fileCategoryFiles" groupBy="fileCategory" groupKey="fileCategory">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading{fileCategory.uid}">
					<a class="panel-title" data-toggle="collapse" data-parent="#ecomproducttools-accordion" href="#collapse{fileCategory.uid}" aria-expanded="true" aria-controls="collapse{fileCategory.uid}">
						{f:s3b0.getLocalizedCategoryTitle(category: fileCategory, language: language)}
					</a>
				</div>

				<div id="collapse{fileCategory.uid}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{fileCategory.uid}">
					<table class="table table-striped table-responsive">
						<thead>
							<tr>
								<td class="download-icon hidden-xs"></td>
								<td class="filename"><f:translate id="file.filename" /></td>
								<td class="revision hidden-xs">
									<f:if condition="{f:translate(id: 'file.revision')} == {f:translate(id: 'file.revision.abbr')}">
										<f:then><f:translate id="file.revision" /></f:then>
										<f:else><abbr title="{f:translate(id: 'file.revision')}"><f:translate id="file.revision.abbr" /></abbr></f:else>
									</f:if>
								</td>
								<td class="size"><f:translate id="file.size" /></td>
								<td class="last-modified hidden-xs"><f:translate id="file.last_modified" /></td>
								<td class="sha1 hidden-xs hidden-sm hidden-md"><abbr title="{f:translate(id: 'file.sha1')}"><f:translate id="file.sha1.abbr" /></abbr></td>
								<td class="language align-center"><f:translate id="file.language" /></td>
							</tr>
						</thead>

						<tbody>
							<f:for each="{fileCategoryFiles}" as="file" iteration="iterator">
								<tr>
									<td class="hidden-xs">
										<f:if condition="{file.externalUrl}">
											<f:then>
												<f:link.typolink parameter="{file.externalUrl}" target="_blank"><f:image src="{f:uri.resource(path: 'Images/download-button.png')}" /></f:link.typolink>
											</f:then>
											<f:else>
												<f:if condition="{file.fileReference}"><a href="{file.fileReference.originalResource.publicUrl}" target="_blank"><f:image src="{f:uri.resource(path: 'Images/download-button.png')}" /></a></f:if>
											</f:else>
										</f:if>
									</td>
									<td>
										<span class="ecomproducttools-file-title">{file.title}</span><br />
										<f:if condition="{file.externalUrl}">
											<f:then>
												<small class="file-info">
													<span class="text-uppercase">{file.urlType}</span>&nbsp;
													<f:link.typolink parameter="{file.externalUrl}" class="text-primary" target="_blank"><f:translate id="file.open" /></f:link.typolink>
												</small>
											</f:then>
											<f:else>
												<f:if condition="{file.fileReference}">
													<small class="file-info">
														<span class="text-uppercase">{file.fileReference.originalResource.extension}</span>&nbsp;
														<a href="{file.fileReference.originalResource.publicUrl}" class="text-primary" target="_blank">
															<f:if condition="{file.fileReference.originalResource.properties.extension} == 'html'">
																<f:then><f:translate id="file.open" /></f:then>
																<f:else><f:translate id="file.download" /></f:else>
															</f:if>
														</a>
													</small>
												</f:if>
											</f:else>
										</f:if>
									</td>
									<td class="hidden-xs">{f:if(condition: file.revision, then: file.revision, else: '-')}</td>
									<td>
										<f:if condition="{file.fileReference.originalResource.size} > 0">
											<f:then>
												<f:if condition="{file.fileReference.originalResource.size} > 1048576">
													<f:then>{file.fileReference.originalResource.size -> f:s3b0.format.bytes(decimals: 1, decimalSeparator: settings.decimalSeparator, thousandsSeparator: settings.thousandsSeparator)}</f:then>
													<f:else>{file.fileReference.originalResource.size -> f:s3b0.format.bytes(decimalSeparator: settings.decimalSeparator, thousandsSeparator: settings.thousandsSeparator)}</f:else>
												</f:if>
											</f:then>
											<f:else>-</f:else>
										</f:if>
									</td>
									<td class="hidden-xs">
										<f:if condition="{file.lastModification}">
											<f:then>{file.lastModification -> f:format.date()}</f:then>
											<f:else>
												<f:if condition="{file.externalUrl}">
													<f:then>-</f:then>
													<f:else>{file.fileReference.originalResource.creationTime -> f:format.date()}</f:else>
												</f:if>
											</f:else>
										</f:if>
									</td>
									<td class="hidden-xs hidden-sm hidden-md">
										<f:if condition="{file.externalUrl}">
											<f:then>-</f:then>
											<f:else>{file.fileReference.originalResource.sha1}</f:else>
										</f:if>
									</td>
									<td class="align-center language-information">
										<f:if condition="{file.language}">
											<f:then>
												<f:image src="{file.language.flagSource}" alt="{file.language.flag}" />
												<br />{file.language.title}
											</f:then>
											<f:else>-</f:else>
										</f:if>
									</td>
								</tr>
							</f:for>
						</tbody>
					</table>
				</div>
			</div>
		</f:groupedFor>
	</div>
</f:if>
<f:if condition="{files -> f:count()} == 0">
	<p class="alert alert-info alert-dismissable"><i class="fa fa-info-circle fa-lg"></i> &nbsp; <f:translate id="dc.nofiles" /></p>
</f:if>