<div class="app-lib-app-qv-card app-lib-grid-item">
	<f:if condition="{app.featured}"><div class="app-lib-app-qv-featured-badge"></div></f:if>
	<noscript>
		<f:if condition="{product.linkToPage}"><a href="{f:uri.typolink(parameter: product.linkToPage)}"></a></f:if>
	</noscript>
	<div class="app-lib-app-qv-card-content">
		<!-- Cover Icon -->
		<div class="app-lib-app-qv-cover">
			<div class="app-lib-app-qv-cover-outer-align">
				<div class="app-lib-app-qv-cover-inner-align">
					<f:if condition="{product.image}">
						<f:image src="{product.image.uid}" width="128m" height="128m" class="hidden-xs" treatIdAsReference="1" />
						<f:image src="{product.image.uid}" width="96m" height="96m" class="visible-xs-inline" treatIdAsReference="1" />
					</f:if>
				</div>
			</div>
		</div>
		<!-- App Info: Title & Developer -->
		<div class="app-lib-app-qv-details">
			<f:if condition="{product.linkToPage}">
				<f:then><h5><a href="{f:uri.typolink(parameter: product.linkToPage)}">{product.title}</a></h5></f:then>
				<f:else><h5>{product.title}</h5></f:else>
			</f:if>
		</div>
	</div>
	<div class="app-lib-app-qv-card-overlay {f:if(condition: iterator.isEven, then: 'even', else: 'odd')}" style="{inlineStlye}">
		<f:if condition="{product.linkToPage}"><a href="{f:uri.typolink(parameter: product.linkToPage)}"></a></f:if>
		<h5>{product.title}</h5>
		<small>{product.teaser -> f:format.html()}</small>
		<p><i class="fa fa-caret-right fa-lg"></i> <f:translate id="views.list.detailLinkTitle" extensionName="app_library" /></p>
	</div>
</div>